<div class="jumbotron text-center">
  <h1>Sesh</h1>
  <p>get stuff done.</p> 
</div>

<div class="container">
  <div class="row">
  <div class="col-6">
    
      <h2>Tasks:</h2>
      <ul>
      {{#each tasks}}
        {{#unless this.complete}}
        <div class="row">
          <a href="task/{{this.id}}">{{this.title}}</a>
          <form action="api/tasks/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class='taskComplete'> Complete </button>
          </form>
        </div>
        <div class="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{this.description}}
            </label>
          </div>
        </div>
        <div class="row">
          <form action="api/tasks/{{this.id}}?_method=PUT" method="POST">
            <p>Add Description:
              <input type="text" name="description"+{{this.id}}>
              <button type="submit" class="newDescription">Submit</button>
            </p>
          </form>
        </div>  
        {{/unless}}
      {{/each}}
      </ul>
    
  </div>
  <div class="col-6">
    <h3>Complete:</h3>
      <ul>
        {{#each tasks}}
          {{#if complete}}
            <div class="row">
              <a href="task/{{this.id}}">{{this.title}}</a>
            </div>
          {{/if}}
        {{/each}}
      </ul>
      </div>
  </div>
</div>
