<div class="jumbotron text-center">
  <h1>Sesh</h1>
  <p>get stuff done.</p> 
</div>

<div class="container">
  <div class="row">
  <div class="col-6">

      <h2>Tasks:</h2>
      <p><form action="api/tasks" method="POST">Add a Task: <input type="text" name="title"><button type="submit" > + </button></form></p>

      <ul>
      {{#each tasks}}
        {{#unless this.complete}}
        <div class="row">
          <a href="task/{{this.id}}">{{this.title}}</a>&nbsp;&nbsp;
            <button data-taskId="{{this.id}}" class='taskComplete'> Complete </button>
        </div>
        <div class="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{this.description}}
            </label>
          </div>
        </div>
        <div class="row">
          
          <form action="api/tasks/{{this.id}}?_method=PUT" method="POST">
            <p>Add Description:
              <input type="text" name="description"+{{this.id}}>
              <button type="submit" class="newDescription">Submit</button>
            </p>
          </form>
        </div>  
        {{/unless}}
      {{/each}}
      </ul>
    
  </div>
  <div class="col-6">
    <h3>Complete:</h3>
      <ul>
        {{#each tasks}}
          {{#if complete}}
            <div class="row">
              <s><a href="task/{{this.id}}">{{this.title}}</a></s>&nbsp;&nbsp;
              <button data-taskId="{{this.id}}" class="taskIncomplete">Incomplete</button><br>
            </div>
            <br>
          {{/if}}
        {{/each}}
      </ul>
      </div>
  </div>
</div>
<script>
  const completeButtons = document.querySelectorAll('.taskComplete');
  for (let i = 0, len = completeButtons.length; i < len; i++) {
    completeButtons[i].addEventListener('click', (event) => {
      const id = event.target.attributes['data-taskId'].value;
      fetch(`/api/tasks/complete/${id}`, {
        method: 'PUT'
      }).then(function(res) {
        location.reload();
      }).catch(function(err) {
        console.log(err)
      });
    });
  }

  const incompleteButtons = document.querySelectorAll('.taskIncomplete');
  for (let i = 0, len = incompleteButtons.length; i < len; i++) {
    incompleteButtons[i].addEventListener('click', (event) => {
      const id = event.target.attributes['data-taskId'].value;
      fetch(`/api/tasks/incomplete/${id}`, {
        method: 'PUT'
      }).then(function(res) {
        location.reload();
      }).catch(function(err) {
        console.log(err)
      });
    });
  }
</script>