<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Task</h5>

          <form action="/api/tasks/{{task.id}}" method="POST">
            <p>
              <strong>ID</strong>: {{task.id}}</p>
            <p>
              <p>
                <strong>Title</strong>: <input name="title" type="text" value="{{task.title}}"></p>
              <p>
                <strong>Description:</strong><textarea rows="4" cols="48" name="description">{{task.description}}</textarea></p>
              <button type="submit" id="update" style="color: green"> Submit changes </button>
              
          </form>

          <button id="delete" style="color: red"> Delete </button><br>

          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("delete")
    .addEventListener("click", function (e) {
      console.log("delete button clicked")
      fetch("/api/tasks/{{task.id}}", { method: "DELETE" })
        .then(function (res) {
          window.location = "/";
        })
        .catch(function (err) {
          console.error(err);
          window.location = "/";
        });
    });

</script>
<style>
  .list-group-item {
    line-height: 2.5;
  }
  body {
    background-color: rgb(213, 213, 213);
    font-family: 'Baloo', cursive;
  }
  .jumbo {
    background-color: rgb(213, 213, 213);
    font-family: 'Baloo', cursive;
  }
  .round {
    border-radius: 20px;
  }
  .inputField {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    width: 85%;
  }
  .inputText {
    font-weight: 500;
    font-size: 20px;
  }
  .authTitle {
    font-weight: 300;
    font-size: 48px;
    color: black;
    text-align: center;
  } 
  .authFormText {
  font-size: 36 px;
    color: black;
    text-align: center;
  }
  .authBody {
    border-color: black;
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    padding-bottom: 25px;
  }
  .authHeader {
    background-color: #6D7993;
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    max-height: 80px;
    border-radius: 20px 20px 0px 0px;
    border-color: black;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
  }
  .authFooter {
    background-color: #6D7993;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    border-color: black;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
  }
  .authModalLoginBtn {
      background-color: #6D7993;
              color: black;
              font-weight: bold;
              width: 110px;
              margin-right: 0px;
              border-radius: 18px;
              cursor: pointer;
  }
  .authModalLoginBtn:hover {
    background-color: #96858F;
            color: black;
            font-weight: bold;
            width: 110px;
            margin-right: 0px;
            border-radius: 18px;
            cursor: pointer;
  }
  .authModalRegisterBtn {
            background-color: #6D7993;
              color: black;
              font-weight: bold;
              border-radius: 18px;
              margin-top: 10px;
              text-align: center;
              cursor: pointer;
  }
  .authModalRegisterBtn:hover {
    background-color: #96858F;
            color: black;
            font-weight: bold;
            border-radius: 18px;
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
  }
  .authModalLogoutBtn {
            background-color: #6D7993;
              color: black;
              font-weight: bold;
  }
</style>