<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Task</h5>

          <form action="/api/tasks/{{task.id}}" method="POST">
            <p>
              <strong>ID</strong>: {{task.id}}</p>
            <p>
              <p>
                <strong>Title</strong>: <input name="title" type="text" value="{{task.title}}"></p>
              <p>
                <strong>Description:</strong> <input name="description" type="text" value="{{task.description}}"></p>
              <button type="submit" id="update" style="color: green"> Submit changes </button><br>
          </form>

          <button id="delete" style="color: red"> Delete </button>

          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("delete")
    .addEventListener("click", function (e) {
      console.log("delete button clicked")
      fetch("/api/tasks/{{task.id}}", { method: "DELETE" })
        .then(function (res) {
          window.location = "/";
        })
        .catch(function (err) {
          console.error(err);
          window.location = "/";
        });
    });

</script>